@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');




/*Estilos da index.html*/

body{

    font-family: 'Poppins', sans-serif;
    background-color: #131313;
    color: white;
}

.center, .menu{

    text-align: center;
}

.menu li {

    display: inline;
    padding: 10px;
    font-size: 20px;
    
}

.menu li a {

    text-decoration: none;
    color: white;
    
}

.menu li a:hover {

    color: gray;
}

.justify{
    text-align: justify;
}

.container{

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.p30{

    padding: 30px;
}

.br50{
    border-radius: 50%;
}

.wh{
    width: 300px;
    height: 300px;
}

.tm{

    width: 50px;
    height: 50px;
}

.mb{

    margin-bottom: 10px;
}

.git {

    color: aliceblue;
}



/*Estilos da contato.html*/

.ml{

    margin-left: 50px;
}

.br{

    border: 3px solid #5d249e;
    border-radius: 13px;
    height: 35px;
    width: 410px;
    background-color: #131313;
    color: #f4f4f0;
    font-size: 1.25rem;
    
}

.text{

    border: 3px solid #5d249e;
    border-radius: 13px;
    background-color: #131313;
    color: #f4f4f0;
    font-size: 1.25rem;
}

.botao{

  width: 75%;
  margin: 1rem auto;
  display: block;
  padding: 1rem 0;
  border-radius: 16px;
  border: 3px solid #5d249e;
  background-color: transparent;
  color: #f4f4f0;
  font-size: 1.275rem;
  cursor: pointer;
}

.botao:hover{
    background-color: #0a0a0a;
}

